/* ========= Footer One ========= */
.footer-one {
  background-color: #fff;
  padding-bottom: 2rem;
  padding-top: 0.5rem;
}
.footer-title {
  font-family: "Roboto";
  font-size: 16px;
  margin-bottom: 1.5rem;
}
/* ========= Footer Two ========= */
.footer-two {
  background-color: #f4f4f6;
  padding-bottom: 2rem;
  padding-top: 0.5rem;
}
.footer-two-title {
  font-family: "Roboto";
  font-size: 16px;
  color: #606060;
  line-height: 20px;
}
.footer-two-sub-title {
  color: #000;
  font-size: 12px;
  line-height: 14px;
}
.footer-two-body-text {
  font-family: "Roboto";
  font-size: 12px;
  color: #888888;
  padding-right: 4.7rem;
  line-height: 14px;
}
.footer-link-text {
  color: #199cb7;
}

/* ========= Footer Three ========= */
.footer-three {
  background-color: #fff;
  padding-bottom: 3rem;
}
.footer-copyright {
  color: #606060;
  font-size: 14px;
  margin-top: 2.4rem;
}
.footer-three-title {
  font-family: "Roboto";
  font-size: 16px;
}
.footer-icon {
  border: 2px solid gray;
  border-radius: 50%;
  padding: 1px;
  margin-right: 4px;
  cursor: pointer;
}
.social-icon {
  cursor: pointer;
}
.download-icon {
  cursor: pointer;
}
.download-text-1 {
  font-family: "Roboto";
  font-size: 16px;
  line-height: 18.4px;
  color: #f36f36;
}
.download-text-2 {
  font-family: "Roboto";
  font-size: 14px;
  line-height: 16.1px;
  color: #0f136d;
}

/* ========= BOOTSTRAP BREAKPOINTS ========= */
/* // X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
}

/* // Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
}

/* // Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
  .responsive-footer {
    text-align: center;
  }
  .responsive-lazada-icon {
    display: none;
  }
  .responsive-download-wrapper {
    justify-content: center;
  }
}

/* // Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
}

/* // X-Large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) {
}

/* // XX-Large devices (larger desktops) */
/* // No media query since the xxl breakpoint has no upper bound on its width */
