/* ========= LARGE NAVBAR ========= */
.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1000;
}
.nav-large {
  padding-bottom: 1.3rem;
  margin-bottom: 1px;
}
.navbar-logo {
  width: 200px;
}
.search-input {
  width: 650px !important;
  font-size: 14px !important;
  font-family: "Roboto" !important;
  border: 0 !important;
  background-color: #eff0f5 !important;
  color: #000;
  padding-block: 12.5px !important;
  border-top-left-radius: 3px !important;
  border-bottom-left-radius: 3px !important;
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}
.search-input:focus {
  outline: none !important;
  box-shadow: none !important;
}
.search-input::placeholder {
  color: #9e9e9e !important;
}
.search-button {
  border: none !important;
  border-radius: 0 !important;
  background-color: var(--primary-app-color) !important;
  color: #fff !important;
  margin-inline: 0px;
  border-top-right-radius: 3px !important;
  border-bottom-right-radius: 3px !important;
  padding-inline: 0.95rem !important;
}
.search-button:hover {
  background-color: var(--primary-app-color) !important;
}
.search-button:focus {
  outline: none !important;
  box-shadow: none !important;
}
.nav-cart {
  color: var(--secondary-app-color);
  margin-left: 2rem;
  font-size: 1.7rem;
}
.nav-cash-in {
  margin-left: 3rem;
}
/* ========= MINI NAVBAR ========= */
.nav-mini {
  background-color: #f7f7f7;
}
.mini-nav-link {
  font-size: 12px;
  font-family: "Roboto";
  letter-spacing: -0.1px;
  text-transform: uppercase;
  text-decoration: none;
  margin-inline: 1rem;
  color: #9e9e9e;
}
.mini-nav-link:hover {
  color: var(--primary-app-color);
}
.first-link,
.second-link {
  color: var(--secondary-app-color);
  font-size: 12px;
  font-family: "Roboto";
  letter-spacing: -0.1px;
  text-transform: uppercase;
  text-decoration: none;
  margin-inline: 1rem;
}
.first-link:hover,
.second-link:hover {
  color: var(--primary-app-color);
}

/* CSS BREAKPOINTS */
@media only screen and (max-width: 1399px) {
  .search-input {
    width: 300px !important;
  }
}
@media only screen and (max-width: 980px) {
  .search-input {
    width: 70% !important;
  }
}
@media only screen and (max-width: 991px) {
  .nav-cart {
    float: left;
    margin-top: 1rem;
  }
  .nav-cash-in {
    float: right;
    margin-top: 1rem;
  }
}
