.custom-breadcrumb {
  font-family: "Roboto";
  font-size: 13px;
  line-height: 16.7142px;
  letter-spacing: normal;
  text-align: start;
  margin-top: 1rem;
}
.breadcrumb-item a {
  text-decoration: none !important;
  color: #999999;
}
.breadcrumb-item a:hover {
  color: #5b98fb;
}
.breadcrumb-item {
  color: #000 !important;
  cursor: default;
}
.contact-title {
  font-size: 20px;
  font-family: "Roboto";
  line-height: 28.8px;
  text-align: start;
  letter-spacing: normal;
  color: #303030;
}
.custom-card {
  border: 1px solid #929292 !important;
  border-radius: 3px !important;
  box-shadow: 0px 4px 5px -2px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0px 4px 5px -2px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 4px 5px -2px rgba(0, 0, 0, 0.15);
  height: 100%;
  cursor: pointer;
}
.custom-card:hover {
  opacity: 0.8;
}
.card-body-text {
  color: #202020;
  font-family: "Roboto";
  font-size: 14px;
  line-height: 19.6px;
  text-align: start;
  letter-spacing: normal;
}
.custom-privacy {
  overflow: scroll;
  height: 200px;
  color: #202020;
  font-family: "Roboto";
  font-size: 14px;
  background-color: beige;
}
