.login-wrapper {
  background: #eff0f5;
}
.login-header-title {
  font-size: 22px;
  font-family: "Roboto";
  line-height: 26px;
  text-align: start;
  letter-spacing: normal;
  color: #424242;
  float: left;
}
.login-subheader-title {
  float: right;
  font-family: "Roboto";
  font-size: 12px;
  line-height: 26px;
  letter-spacing: normal;
  text-align: normal;
  color: #757575;
}
.register-link {
  color: #1a9cb7;
  text-decoration: none;
}
.forgot-link {
  font-family: "Roboto" !important;
  font-size: 12px !important;
  line-height: 26px !important;
  letter-spacing: normal !important;
  text-align: normal !important;
  color: #1a9cb7 !important;
  float: right !important;
  text-decoration: none;
}
.register-link:hover {
  color: #1a9cb7;
}
.custom-card {
  margin-top: 3.5rem;
  border: none !important;
  border-radius: 0 !important;
  padding: 0.6rem;
}
.form-label {
  font-family: "Roboto";
  color: #424242 !important;
  font-size: 12px;
  text-align: start;
  letter-spacing: normal;
  line-height: 15px;
}
.form-inputs {
  font-family: "Arial" !important;
  font-size: 14px !important;
  text-align: start !important;
  letter-spacing: normal !important;
  line-height: 16.1px !important;
  border-radius: 0 !important;
  padding-block: 0.7rem !important;
  color: #a9a9a9 !important;
}
.form-inputs::placeholder {
  color: #a9a9a9 !important;
}
.form-inputs:focus {
  outline: none !important;
  box-shadow: none !important;
  color: #000 !important;
  border: 1px solid #a9a9a9 !important;
}
.login-button {
  border-radius: 2px !important;
  border: none !important;
  background: var(--primary-app-color) !important;
  color: #fff !important;
  font-family: "Roboto" !important;
  font-size: 14px !important;
  line-height: 46px !important;
  width: 90%;
  margin: 1.4rem;
  padding: 0 !important;
}
.login-button:hover {
  background: #d0611e !important;
}
.login-button:focus {
  outline: none !important;
  box-shadow: none !important;
}
/* // X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
}

/* // Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
}

/* // Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
  .login-header-title,
  .login-subheader-title {
    float: none;
  }
  .custom-card {
    margin-top: 0px;
  }
}

/* // Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
}

/* // X-Large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) {
}

/* // XX-Large devices (larger desktops) */
/* // No media query since the xxl breakpoint has no upper bound on its width */
