.custom-breadcrumb {
  font-family: "Roboto";
  font-size: 13px;
  line-height: 16.7142px;
  letter-spacing: normal;
  text-align: start;
  margin-top: 1rem;
}
.breadcrumb-item a {
  text-decoration: none !important;
  color: #999999;
}
.breadcrumb-item a:hover {
  color: #5b98fb;
}
.breadcrumb-item {
  color: #000 !important;
  cursor: default;
}
.orange-text {
  color: var(--primary-app-color);
}
.cart-container {
  background-color: #eff0f5;
}
.custom-card {
  border: none !important;
  border-radius: 0px !important;
}
.card-header {
  font-family: "Roboto";
  font-size: 14px;
  line-height: 40px;
  letter-spacing: normal;
  text-align: start;
  color: #212121;
}
.product-name {
  font-family: "Roboto";
  font-size: 14px;
}
.product-price,
.product-quantity,
.product-total-items,
.product-total-price {
  font-family: "Roboto";
  font-size: 12px;
  color: #757575;
}
.form-label {
  font-family: "Roboto";
  font-size: 14px;
  text-align: start;
  letter-spacing: normal;
  line-height: 18px;
  color: #757575;
}
.quantity-input {
  border-radius: 0 !important;
  width: 100px !important;
}
.quantity-input:focus {
  outline: none !important;
  box-shadow: none !important;
  border: 1px solid #ced4da !important;
}
.quantity-input::placeholder {
  color: #9d9d9d !important;
}
.custom-icon {
  color: var(--primary-app-color);
  margin-top: 2.2rem;
}
.vat-text {
  float: right;
  font-family: "Roboto";
  font-size: 12px;
  color: #424242 !important;
}
.checkout-button {
  border-radius: 2px !important;
  border: none !important;
  background: var(--primary-app-color) !important;
  color: #fff !important;
  font-family: "Roboto" !important;
  font-size: 14px !important;
  line-height: 46px !important;
  width: 100%;
  padding: 0 !important;
}
.checkout-button:hover {
  background: #d0611e !important;
}
.checkout-button:focus {
  outline: none !important;
  box-shadow: none !important;
}
.custom-review-btn {
  background-color: var(--primary-app-color) !important;
  border: none !important;
  border-radius: 0 !important;
  font-size: 12px !important;
}
.custom-review-btn:hover {
  background-color: var(--primary-app-color) !important;
  opacity: 0.9 !important;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2) !important;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2) !important;
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2) !important;
}
.checkout-custom-input {
  border-radius: 0 !important;
  font-size: 14px !important;
}
.checkout-custom-input:focus {
  outline: none !important;
  box-shadow: none !important;
  border: 1px solid var(--primary-app-color) !important;
}
/* ========= MODAL ========= */
.modal-header {
  font-family: "Roboto";
  font-size: 13px;
  color: #888888;
  margin-block: 5px;
  margin-bottom: 0px;
  padding: 0;
}
.modal-button {
  border-radius: 2px !important;
  color: #fff;
  background-color: var(--primary-app-color) !important;
  border: none !important;
  font-family: "Roboto";
  font-size: 13px !important;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: normal;
  transition: all 0.3s linear;
}
.modal-button:hover {
  background-color: #cf611e !important;
}
.modal-button:focus {
  outline: none !important;
  box-shadow: none !important;
}

/* ========= BOOTSTRAP BREAKPOINTS ========= */
/* // X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
}

/* // Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
}

/* // Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
  .product-image {
    float: left;
  }
  .custom-icon {
    float: right;
    margin-right: 1rem;
  }
}

/* // Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
}

/* // X-Large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) {
}

/* // XX-Large devices (larger desktops) */
/* // No media query since the xxl breakpoint has no upper bound on its width */
