/* ========= CARD ========= */
.card-product {
  border: 0;
  border-radius: 0;
  font-family: "Roboto";
}
.card-product:hover {
  background-color: #fff;
  color: #000;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
}
.card-product-title {
  font-size: 14px;
}
.card-product-price {
  font-size: 18px;
  color: #f57224;
  letter-spacing: -0.56px;
}
.card-product-discount {
  font-size: 12px;
  color: #9e9e9e;
}
.card-product-discount-percent {
  font-size: 12px;
}
