/* ========= THREE SECTION BUTTONS ========= */
.three-section-button {
  padding: 5px;
  background-color: #fff;
  font-size: 18px;
  font-family: "Roboto";
  color: #000000;
  border-radius: 20px;
  border: 0;
  text-align: left;
}
.three-section-button:hover {
  background-color: #fff;
  color: #000;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
}
.three-section-button:focus {
  background-color: #fff;
  color: #000;
}

/* BUTTON SHOW ALL PRODUCTS */
.sale-button {
  background-color: #fff;
  font-size: 14px;
  font-family: "Roboto";
  color: var(--primary-app-color);
  border: 1px solid var(--primary-app-color);
  border-radius: 0;
  float: right;
  padding: 0.4rem 0.6rem;
}
.sale-button:hover,
.sale-button:focus {
  background-color: #fff;
  letter-spacing: normal;
  color: var(--primary-app-color);
  border: 1px solid var(--primary-app-color);
}
