.slick-dots-thumb :global(li.slick-active) span {
  color: #fff;
}
.slick-dots-thumb {
  color: #dddddd;
  font-size: 10px;
  list-style: none;
  margin-top: -25px;
  position: absolute;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  width: 100%;
}
.slick-dots-thumb > li {
  display: inline;
  margin-inline: 5px;
}
/* CSS BREAKPOINTS */
@media only screen and (max-width: 1200px) {
  .slick-dots-thumb {
    margin-left: -16px;
  }
}
@media only screen and (max-width: 480px) {
  .slick-dots-thumb {
    font-size: 5px;
    margin-top: -10px;
  }
}
