.slick-span {
  margin-top: -25px !important;
  position: absolute;
  color: #dddddd;
  font-size: 0.6rem;
}
.slick-span:active {
  color: #fff;
}
.slick-active > .slick-span {
  color: #000 !important;
}
