.categories-button {
  border-radius: 20px;
  margin-block: 1rem;
  padding: 6px 5px 6px 5px;
  font-family: "Roboto";
  font-size: 18px;
  cursor: pointer;
}
.categories-button:hover {
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2);
}
.icon-wrapper {
  color: var(--primary-app-color);
  margin-right: 0.5rem;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.1);
  padding: 5px 7px 5px 7px;
  border-radius: 20px;
}
.off-canvas-custom {
  font-family: "Roboto";
}
.off-canvas-body {
  border-radius: 0px !important;
}
.accordion-button {
  color: #757575 !important;
  font-size: 13px;
}
.megadrop ul {
  list-style: none;
  padding: 0;
}
.megadrop > ul > li {
  padding-left: 1.2rem;
}
.megadrop > ul > li > a {
  text-decoration: none !important;
  color: #757575 !important;
  font-size: 13px;
}
.megadrop > ul > li:hover > a {
  color: var(--primary-app-color) !important;
}
.megadrop > ul > li:hover {
  background-color: #eceff1;
}
